.meme-card {
  max-width: 25%;
  border: 3px solid black;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px;
}

.meme-title {
  padding: 8px;
  margin: 0;
  color: #333;
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
}

.meme-img {
  width: 100%;
  min-width: 120px;
  height: auto;
  border-bottom: 1px solid black;
}

.meme-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}

.meme-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  margin: auto;
  border: 3px solid black;
  border-radius: 4px;
  padding: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 90%;
  padding: 8px;
  margin-bottom: 16px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

button {
  background-color: white;
  color: black;
  padding: 10px 15px;
  border-radius: none;
  box-shadow: 3px 3px 0 0px rgb(0 0 0);
  cursor: pointer;
  margin: 4px;
}

button:hover {
  background-color: #f0f0f0;
}
