.meme-card {
  max-width: 25%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px;
}

.meme-title {
  padding: 8px;
  margin: 0;
  color: #333;
  font-size: 18px;
  text-align: center;
}

.meme-img {
  width: 100%;
  min-width: 120px;
  height: auto;
  border-bottom: 1px solid #ddd;
}
